WebContent/wsdl/OperationManual.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pckClosingPhase" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pckClosingPhase" xmlns:intf="http://pckClosingPhase" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pckClosingPhase" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="measuringOperationManual">
    <complexType/>
   </element>
   <element name="measuringOperationManualResponse">
    <complexType/>
   </element>
   <element name="measuringStrings">
    <complexType/>
   </element>
   <element name="measuringStringsResponse">
    <complexType/>
   </element>
   <element name="measuringContent">
    <complexType>
     <sequence>
      <element name="sArchivo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="measuringContentResponse">
    <complexType>
     <sequence>
      <element name="measuringContentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="measuringStringsRequest">

      <wsdl:part element="impl:measuringStrings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringStringsResponse">

      <wsdl:part element="impl:measuringStringsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringContentResponse">

      <wsdl:part element="impl:measuringContentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringOperationManualResponse">

      <wsdl:part element="impl:measuringOperationManualResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringOperationManualRequest">

      <wsdl:part element="impl:measuringOperationManual" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringContentRequest">

      <wsdl:part element="impl:measuringContent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OperationManual">

      <wsdl:operation name="measuringOperationManual">

         <wsdl:input message="impl:measuringOperationManualRequest" name="measuringOperationManualRequest">

       </wsdl:input>

         <wsdl:output message="impl:measuringOperationManualResponse" name="measuringOperationManualResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringStrings">

         <wsdl:input message="impl:measuringStringsRequest" name="measuringStringsRequest">

       </wsdl:input>

         <wsdl:output message="impl:measuringStringsResponse" name="measuringStringsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringContent">

         <wsdl:input message="impl:measuringContentRequest" name="measuringContentRequest">

       </wsdl:input>

         <wsdl:output message="impl:measuringContentResponse" name="measuringContentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OperationManualSoapBinding" type="impl:OperationManual">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="measuringOperationManual">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measuringOperationManualRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measuringOperationManualResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringStrings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measuringStringsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measuringStringsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measuringContentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measuringContentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OperationManualService">

      <wsdl:port binding="impl:OperationManualSoapBinding" name="OperationManual">

         <wsdlsoap:address location="http://localhost:8080/DMSver6WSDL/services/OperationManual"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
