WebContent/wsdl/TestPlan.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pckRequirementsPhase" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://pckRequirementsPhase" xmlns:intf="http://pckRequirementsPhase" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://pckRequirementsPhase" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="measurements">
    <complexType/>
   </element>
   <element name="measurementsResponse">
    <complexType/>
   </element>
   <element name="measuringStrings">
    <complexType/>
   </element>
   <element name="measuringStringsResponse">
    <complexType>
     <sequence>
      <element name="measuringStringsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="measuringContent">
    <complexType>
     <sequence>
      <element name="sArchivo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="measuringContentResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="measuringContentRequest">

      <wsdl:part element="impl:measuringContent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measurementsRequest">

      <wsdl:part element="impl:measurements" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringStringsRequest">

      <wsdl:part element="impl:measuringStrings" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringStringsResponse">

      <wsdl:part element="impl:measuringStringsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measuringContentResponse">

      <wsdl:part element="impl:measuringContentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="measurementsResponse">

      <wsdl:part element="impl:measurementsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TestPlan">

      <wsdl:operation name="measurements">

         <wsdl:input message="impl:measurementsRequest" name="measurementsRequest">

       </wsdl:input>

         <wsdl:output message="impl:measurementsResponse" name="measurementsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringStrings">

         <wsdl:input message="impl:measuringStringsRequest" name="measuringStringsRequest">

       </wsdl:input>

         <wsdl:output message="impl:measuringStringsResponse" name="measuringStringsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringContent">

         <wsdl:input message="impl:measuringContentRequest" name="measuringContentRequest">

       </wsdl:input>

         <wsdl:output message="impl:measuringContentResponse" name="measuringContentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TestPlanSoapBinding" type="impl:TestPlan">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="measurements">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measurementsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measurementsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringStrings">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measuringStringsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measuringStringsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="measuringContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="measuringContentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="measuringContentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TestPlanService">

      <wsdl:port binding="impl:TestPlanSoapBinding" name="TestPlan">

         <wsdlsoap:address location="http://localhost:8080/DMSver6WSDL/services/TestPlan"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
